---
layout: default
---
<section class="tone-dark header" style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh; padding: 0;">
  <h1 style="font-size: 5em; font-family: 'Playfair Display', serif; margin: 0;">
    WORKSHOP
  </h1>
  <h1 style="font-size: 3em; font-family: 'Playfair Display', serif; margin: 0;">
    Gender Inequality - Navigating New Frontiers and Paradigm Shifts
  </h1>
  <p style="font-size: 1.5em; font-family: 'Playfair Display', serif; margin: 20px 0 0;">
    Old Building OLD 4.10, Houghton St, London WC2A 2AE<br>
    Wednesday, 12 March 2025
  </p>
</section>

<section class="tone-dark">
  <div style="text-align: justify;">
    {{ site.data.info.description_long | markdownify }}

    {% if site.data.workshops %}
      <p>
        Find here the complete schedule: 
        <a href="/data/Program_2025.pdf" target="_blank">Download PDF</a>.
      </p>
    {% endif %}

    {% if site.data.info.past_editions %}
      <p>
        Check out the past editions:
        {% for edition in site.data.info.past_editions %}
          <a href="{{ edition[1] }}">{{ edition[0] }}</a>
        {% endfor %}
      </p>
    {% endif %}
  </div>
</section>

{% if site.data.schedule %}
  <section id="schedule">
    <h1>Schedule</h1>
    <div class="items-container">
      {% for part in site.data.schedule %}
        <div class="item-large">
          <table>
            {% if part[0] != '' %}
              <tr>
                <th colspan="2">
                  <h2>{{ part[0] }}</h2>
                </th>
              </tr>
            {% endif %}
            {% for item in part[1] %}
              <tr>
                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
      {% endfor %}
    </div>
  </section>
{% endif %}

<section>
  {% if site.data.faq %}
    <h1 id="faq">Registration</h1>
    <div class="items-container">
      {% for item in site.data.faq %}
        <div class="item-large">
          <h2 {% if item.id %} id="{{ item.id }}" {% endif %}>{{ item.q }}</h2>
          <p>{{ item.a | markdownify }}</p>
        </div>
      {% endfor %}
      <div class="item-large">
        <h2>I have another question...</h2>
        <p>Contact us on <a href="https://twitter.com/{{ site.data.info.twitter }}" rel="noreferrer">Twitter</a>,
          or by email {{ site.data.info.email }}, kenza.elass[at]unibocconi.it or m.suteau[at]lse.ac.uk!</p>
      </div>
    </div>
  {% endif %}
</section>

{% if site.data.sponsors %}
  <section class="section-sponsors">
    {% for tier in site.data.sponsors.tiers %}
      {% if tier[1].show_title %}
        <h1>{{ tier[0] }}</h1>
      {% endif %}

      {% if tier[1].sponsors %}
        <div class="items-container" {% if tier[1].color %} style="background: {{ tier[1].color }}" {% endif %}>
          {% for sponsor in tier[1].sponsors %}
            {% assign file_img = 'null' %}
            {% assign file_svg_path = sponsor[0] | prepend: '/gender_workshop/images/logos/' | append: '.svg' %}
            {% for file in site.static_files %}
              {% if file.path == file_svg_path %}
                {% assign file_img = file_svg_path %}
              {% endif %}
            {% endfor %}
            {% if file_img == 'null' %}
              {% assign file_img = sponsor[0] | prepend: '/gender_workshop/images/logos/' | append: '.jpg' %}
            {% endif %}

            <div class="item-large">
              <a href="{{ sponsor[1] }}" rel="noreferrer">
                <img src="{{ file_img }}" alt="{{ tier[0] }} - {{ sponsor[0] }}" style="height: auto; width: 300px;">
              </a>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
  </section>
{% endif %}




<section class="tone-dark">
  <h1> Organizing Committee</h1>
  <div class="items-container">
    {% for person in site.data.organizers.people %}
      <div class="item-small">
        <a class="person-link" href="{{ person.link }}" rel="noreferrer">
          <div class="person-container">
            <img class="person-image" src="images/people/{{ person.first }} {{ person.last }}.jpg" alt="Picture of {{ person.first }} {{ person.last }}">
            <div class="person-info">
              <span class="person-first">{{ person.first }}</span><br>
              <span class="person-last">{{ person.last }}</span>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>

</section>
